[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ATQ"]
	path = ATQ
	url = https://github.com/vjoshy/atq_surveillance_package
[submodule "DESA"]
	path = DESA
	url = https://github.com/vjoshy/desa
